/.idea
/.vscode
/node_modules
/vendor
/.env
/.env.*
/Homestead.json
/Homestead.yaml
/npm-debug.log
/yarn-error.log
/pnpm-debug.log
/public/storage
/storage/*.key
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/logs
/bootstrap/cache/*.php
.phpunit.result.cache
/.phpunit.result.cache
/.DS_Store
._*
Thumbs.db
/.sass-cache
/.cache
/.vite
/.parcel-cache
.idea/
.vscode/
coverage/
/.pnp/
.pnp.js
/.editorconfig